# EditorConfig http://EditorConfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{js,json,html,ts}]
charset = utf-8

# 4 space indentation
[*.{js,html,ts}]
indent_style = space
indent_size = 2

# 2 space indentation
[*.json]
indent_style = space
indent_size = 2

# Domain-Specific Properties
# Not implemented in all plugins.
ij_html_quote_style = double
max_line_length = 150
tab_width = 2
# noinspection EditorConfigKeyCorrectness
quote_type = double
# noinspection EditorConfigKeyCorrectness
curly_bracket_next_line = false
# noinspection EditorConfigKeyCorrectness
spaces_around_operators = false
# noinspection EditorConfigKeyCorrectness
indent_brace_style = K&R
# noinspection EditorConfigKeyCorrectness
continuation_indent_size = 8
